POSTGRES_DB=feature_flags
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DATABASE_URL=postgresql://postgres:postgres@db:5432/feature_flags

REDIS_HOST=redis
REDIS_PORT=6379

SECRET_KEY=supersecret
